<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="EmailAppender" type="SedTeam.Logging.EmailAppender, Log4NetEmailAppender">
		<threshold value="WARN" />
		<emailSubject value="" />
		<emailTitle value="" />
		<emailServer value="" />
		<emailPort value="25" />
		<useDefaultCredentials value="false" />
		<emailUser value="" />
		<emailPassword value="" />
		<emailSendTo value="" />
		<emailSendCC value="" />
		<emailSendFrom value="" />
		<emailSendFromName value="" />
		<BulkSize>50</BulkSize>
		<BulkIdleTimeout>10000</BulkIdleTimeout>
		<SerializeObjects>True</SerializeObjects>
		<FixedFields>Partial</FixedFields>
	</appender>

	<appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, Log4NetAdoNetAppender">
		<bufferSize value="1" />
		<threshold value="INFO" />
		<connectionString value="Server=;Database=;Trusted_Connection=True;" />
		<commandText value="INSERT INTO dbo.Log4NetLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[HostName]) VALUES " />
		<commandValue value="(@log_date, @thread, @log_level, @logger, @message, @exception,@hostname)" />
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
		<parameter>
			<parameterName value="@hostname" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName}" />
			</layout>
		</parameter>
	</appender>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="log/log4net.log" />
		<threshold value="ERROR" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maximumFileSize value="10000KB" />
		<maxSizeRollBackups value="10" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
		</layout>
	</appender>
	<appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, Log4NetElasticAppender">
		<threshold value="INFO" />
		<Server>localhost</Server>
		<Port>9200</Port>
		<CertPath>D:/Site/local/local-cert.p12</CertPath>
		<CertPass>Aa2025@LOCAL</CertPass>
		<IndexName>crm-dev-log_%{+yyyy.MM}</IndexName>
		<IndexType>LogEvent</IndexType>

		<Ssl>True</Ssl>
		<AllowSelfSignedServerCert>False</AllowSelfSignedServerCert>

		<!--Only one credential type can be used at once-->
		<!--Here we list all possible types-->
		<AuthenticationMethod>
			<!--For basic authentication purposes-->
			<Basic>
				<Username></Username>
				<Password></Password>
			</Basic>
		</AuthenticationMethod>

	</appender>
	<root>
		<appender-ref ref="RollingFile" />
		<!--<appender-ref ref="ElasticSearchAppender"/>-->
		<appender-ref ref="EmailAppender"/>
	</root>
</log4net>